## @author     Dmitry Kolesnikov, <dmkolesnikov@gmail.com>
## @copyright  (c) 2015, Dmitry Kolesnikov
##             All Rights Reserved.
## 
## @description
##    development configuration of mysql, applicable to
##    ec2 meduim or large instances 
[client]
port        = 3306
socket      = /usr/local/mysql/data/mysql.sock

[mysqld]
default-storage-engine = innodb                            

port            = 3306
socket          =/usr/local/mysql/data/mysql.sock
datadir         = /usr/local/mysql/data
skip-external-locking

max_connections         = 30
key_buffer_size         = 64M
max_allowed_packet      = 1M
sort_buffer_size        = 512K
net_buffer_length       = 8K
read_buffer_size        = 256K
read_rnd_buffer_size    = 512K
myisam_sort_buffer_size = 8M

table_open_cache        = 8192
table_definition_cache  = 8192

server-id   = 1

# Uncomment the following if you are using InnoDB tables
innodb_data_home_dir       = /usr/local/mysql/data
innodb_data_file_path      = ibdata1:10M:autoextend
innodb_log_group_home_dir  = /usr/local/mysql/data
innodb_file_per_table
innodb_buffer_pool_size    = 128M
## Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size       = 512M
innodb_log_buffer_size     = 128M
innodb_flush_log_at_trx_commit = 0
innodb_lock_wait_timeout   = 50
# failed at docker
innodb_flush_method        = O_DIRECT
innodb_io_capacity         = 1200
innodb_open_files          = 8192
innodb_random_read_ahead   = 1
innodb_read_io_threads     = 16
innodb_write_io_threads    = 4

loose_handlersocket_port       = 9998
loose_handlersocket_port_wr    = 9999
loose_handlersocket_threads    = 32
loose_handlersocket_threads_wr = 8
loose_handlersocket_accept_balance = 1000
open_files_limit = 65535

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
